@import "~bootstrap/scss/bootstrap.scss";

.erase-task {
  font-size: 1.5rem;
  vertical-align: auto;
  height: min-content;
  color: red;

}

.visible{
  display: block;
}

.disable{
  display: none;
}

#liMap{
  font-size: 40px;
}
#liMap:hover {
  background-color: white;
  color: black;
  
}

.task-counter {
  color:white;
  font-size: large;
  
}

.alert-danger{
  background-color: #ff0017;
  color: white;
}